@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff056;
}

.mySlides {
  display: none;
}

p {
  font-weight: 300;
  color: #191919;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
  position: absolute;
}
.banner .content h2 {
  font-size: 5em;
  color: #ffffff;
}
.banner .content p {
  font-size: 1em;
  color: #ffffff;
}
.btn {
  font-size: 1em;
  color: #ffffff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
  color: #ffffff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #ffffff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: #191919;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #191919;
}
header .logo span {
  color: #ff0157;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
  margin-top: 15px;
}
header .navigation li a {
  text-decoration: none;
  color: #191919;
  font-weight: 700;
  text-decoration: none;
}
header.sticky .navigation li a {
  color: #191919;
}
header .navigation li a:hover {
  color: #ff0157;
}
section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.titleText {
  color: #191919;
  font-size: 2em;
  font-weight: 300;
}
.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 100%;
}
.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu_options {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.box {
  position: relative;
  /* width: 100%;
  height: 50vh; */
  display: inline-block;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curved {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curved .continents {
  position: relative;
  width: 500px;
  height: 275px;
  z-index: 2;
}
.continents {
  cursor: pointer;
}
.curved .continents div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px #cc0000;
}

.menu_options .place::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 4%;
  width: 70%;
  height: 70%;
  margin-top: 50px;
  background: #000;
  transform-origin: right;
  transform: skewY(-7.5deg);
  filter: blur(15px);
  opacity: 0.5;
  z-index: 1;
}

.curved .shadow::before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 4%;
  width: 70%;
  height: 70%;
  background: #000;
  transform-origin: left;
  transform: skewY(7.5deg);
  filter: blur(15px);
  opacity: 0.5;
  z-index: 1;
}

#asia {
  background: url("/images/châu Á.jpg");
}
#europe {
  background: url("/images/Châu Âu.jpg");
}
#americas {
  background: url("/images/Châu Mỹ.jpg");
}
#africa {
  background: url("/images/châu Phi.jpg");
}

/*
* contact in here
*/
.contact_titleText {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
}
.contact_titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
.contact {
  background: url("/images/bg4.jpg");
  background-size: cover;
}
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}
.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 900;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
/*
* button for sending the contact is in here ⬇ 
*/
.button {
  --primary: #ff0157;
  --primary-dark: #cf0347;
  --primary-darkest: #ac0c41;
  --text: #111111;
  --text-opacity: 1;
  --success: #111111;
  --success-scale: 0.2;
  --success-opacity: 0;
  --border-radius: 7;
  --overflow: hidden;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 50;
  --left-body-first-y: 0;
  --left-body-second-x: 50;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 50;
  --right-body-first-y: 0;
  --right-body-second-x: 50;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  margin: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  -webkit-transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.button .left,
.button .right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--plane-opacity);
  -webkit-transform: translate(
      calc(var(--plane-x) * 1px),
      calc(var(--plane-y) * 1px)
    )
    translateZ(0);
  transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px))
    translateZ(0);
}

.button .left:before,
.button .left:after,
.button .right:before,
.button .right:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: calc(var(--border-radius) * 1px);
  -webkit-transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
  transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
  z-index: var(--z-index, 2);
  background: var(--background, var(--left-wing-background));
  -webkit-clip-path: polygon(
    calc(var(--first-x, var(--left-wing-first-x)) * 1%)
      calc(var(--first-y, var(--left-wing-first-y)) * 1%),
    calc(var(--second-x, var(--left-wing-second-x)) * 1%)
      calc(var(--second-y, var(--left-wing-second-y)) * 1%),
    calc(var(--third-x, var(--left-wing-third-x)) * 1%)
      calc(var(--third-y, var(--left-wing-third-y)) * 1%)
  );
  clip-path: polygon(
    calc(var(--first-x, var(--left-wing-first-x)) * 1%)
      calc(var(--first-y, var(--left-wing-first-y)) * 1%),
    calc(var(--second-x, var(--left-wing-second-x)) * 1%)
      calc(var(--second-y, var(--left-wing-second-y)) * 1%),
    calc(var(--third-x, var(--left-wing-third-x)) * 1%)
      calc(var(--third-y, var(--left-wing-third-y)) * 1%)
  );
}

.button .left:after {
  --x: 0;
  --z-index: 1;
  --background: var(--left-body-background);
  --first-x: var(--left-body-first-x);
  --first-y: var(--left-body-first-y);
  --second-x: var(--left-body-second-x);
  --second-y: var(--left-body-second-y);
  --third-x: var(--left-body-third-x);
  --third-y: var(--left-body-third-y);
}

.button .right:before {
  --x: -0.4%;
  --z-index: 2;
  --background: var(--right-wing-background);
  --first-x: var(--right-wing-first-x);
  --first-y: var(--right-wing-first-y);
  --second-x: var(--right-wing-second-x);
  --second-y: var(--right-wing-second-y);
  --third-x: var(--right-wing-third-x);
  --third-y: var(--right-wing-third-y);
}

.button .right:after {
  --x: 0;
  --z-index: 1;
  --background: var(--right-body-background);
  --first-x: var(--right-body-first-x);
  --first-y: var(--right-body-first-y);
  --second-x: var(--right-body-second-x);
  --second-y: var(--right-body-second-y);
  --third-x: var(--right-body-third-x);
  --third-y: var(--right-body-third-y);
}

.button span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}

.button span.success {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  -webkit-transform: rotate(calc(var(--rotate) * -1deg))
    scale(var(--success-scale)) translateZ(0);
  transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale))
    translateZ(0);
  opacity: var(--success-opacity);
  color: var(--success);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*
* for the guy who made it
*/
.made_by {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.made_by p {
  color: #333;
  font-weight: 500;
}
.made_by a {
  color: #ff0157;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url(images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
  section {
    padding: 20px;
  }
  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
  .title {
    text-align: center;
  }
  .titleText .contact_titleText {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .contactForm {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .banner .content h2 {
    font-size: 2.2em;
    color: #fff;
  }
}
